.banner-main3{
    background: url('https://media.istockphoto.com/photos/water-splashes-picture-id1272507888?b=1&k=20&m=1272507888&s=170667a&w=0&h=m0i-IAEQLiEfrHU6TTQp7uz8Gyahjh2iZzFV2X9KC2g=');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height:10%; */
}
h6{
    font-size: 22px;
}
